<link rel="stylesheet" href="./css/normalize.min.css">
<link rel="stylesheet" href="./css/animate.min.css">
<% include _tpl/header %>
<% include _tpl/halfbanner %>

<style>
    #btn-close-modal {
        width:100%;
        text-align: center;
        cursor:pointer;
        color:#fff;
    }

</style>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Greetings</h1>
      <li>
          <!-- <a id="demo01" href="#animatedModal">DEMO01</a></li> -->
      <div id="animatedModal">
          <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID -->
          <div  id="btn-close-modal" class="close-animatedModal"> 
              x
          </div>
              <br/><br/>
          <div class="modal-content" id  = "greetingContent"></div>
      </div>
      <hr/>
      <% greetingsData.all.forEach( (greet) => { %>
        <div id="greetModal_<%= greet.id %>" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title"><%= greet.name %> has some message for you</h5>
              </div>
              <div class="modal-body">
                <% if(greet.greetUrl1 !== ""){ %>
                  <img src = "<%= greet.greetUrl1 %>" class = "img-responsive"/>
                <% } %>
<!-- greetUrl2
videoUrl -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
          <div class = "col-md-3 col-xs-12">
            <a class = "btnUserGreet" id = "btnClickUser<%= greet.id %>" href="#animatedModal" data-user = "<%= JSON.stringify(greet) %>">
              <img src = "<%= greet.picUrl %>" class = "img-responsive"/>
              <label><%= greet.name %></label>
            </a>
            <br/><br/>
          </div>
      <% }); %>
    </div>
  </div> 
  <hr/>
</div>
<footer class="row tm-footer">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <p class="text-xs-center tm-copyright">Copyright &copy; 2018  Boyfriend
  </div>
</footer>


<div class="scroll-top-wrapper">
  <span class="scroll-top-inner">
    <i class="fa fa-2x fa-arrow-circle-up"></i>
  </span>
</div>


<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>


<script src="./js/jquery-1.11.3.min.js"></script>
<script src="./js/animatedModal.min.js"></script>
<script src="./js/tether.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/back-top.js"></script>
<script src="./js/jquery.magnific-popup.min.js"></script>
<script src="./js/navbar.js"></script>
<script src="./js/magnetic-popup.js"></script>
<script>
              

  $('body').addClass('loaded');

  $("#btnGreetingsTGLG").click( () => {
    alert("A");
  });

  $("#btnLaunchModal").click( () => {
    
  });
  $("#btnCloseModal").click( () => {
    $("#myModal").modal('hide');
  });


  $(document).ready(function() {
$(".btn-pref .btn").click(function () {
    $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
    // $(".tab").addClass("active"); // instead of this do the below 
    $(this).removeClass("btn-default").addClass("btn-primary");   
});
});
$("#btnClickUser1").animatedModal();
$("#btnClickUser2").animatedModal();
$("#btnClickUser3").animatedModal();
$("#btnClickUser4").animatedModal();
$("#btnClickUser5").animatedModal();
$("#btnClickUser6").animatedModal();
$("#btnClickUser7").animatedModal();
$("#btnClickUser8").animatedModal();
$("#btnClickUser9").animatedModal();
$("#btnClickUser10").animatedModal();
$("#btnClickUser11").animatedModal();
$("#btnClickUser12").animatedModal();
$("#btnClickUser13").animatedModal();
$("#btnClickUser14").animatedModal();
$("#btnClickUser15").animatedModal();
$("#btnClickUser16").animatedModal();
$("#btnClickUser17").animatedModal();
$(document).on('click', '.btnUserGreet', function(){
  let user = $(this).data('user');
  console.log( user );
  let text = `<div class = "col-md-12"><p align = "center" style = "color:black;">${user.name} has message for you!</p></div><br/><br/>`
  let greet1 = "";
  let greet2 = "";
  let greet3 = "";
  let videoGreet1 = "";
  let videoGreet2 = "";
  let videoGreet3 = "";
  if(user.greetUrl1){
    greet1 = `<center><div class = "col-md-12"><img src = ${user.greetUrl1}> </div></center><br/>`
  }
  if(user.greetUrl2){
    greet2 = `<center><div class = "col-md-12"><img src = ${user.greetUrl2}> </div></center><br/>`
  }
  if(user.greetUrl3){
    greet3 = `<center><div class = "col-md-12"><img src = ${user.greetUrl3}> </div></center><br/>`
  }
  if(user.videoUrl){
    videoGreet1 = `<div> Watch this video, </div> <br/><center><div class = "col-md-12"> ${user.videoUrl}  </div></center><br/>`
  }
  if(user.videoUrl2){
    videoGreet2 = `<center><div class = "col-md-12"> ${user.videoUrl2} </div></center><br/>`
  }
  if(user.videoUrl3){
    videoGreet3 = `<center><div class = "col-md-12"> ${user.videoUrl3} </div></center><br/>`
  }

  $("#greetingContent").html("<div>" + text + greet1 + greet2 + greet3 + videoGreet1 + videoGreet2 + videoGreet3 + "</div>");
});
</script>
</body>
</html>